name: Build PDF document
on:
  workflow_dispatch:
  push:
permissions:
  contents: write

jobs:
  build_pdf:
    name: Build PDF document
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Free disk space
        uses: wimpysworld/nothing-but-nix@v10

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main

      - name: Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          use-gha-cache: enabled

      - name: Build PDF
        run: nix build .

      - name: Upload PDF
        uses: actions/upload-artifact@v6
        with:
          name: Cleaning Info
          path: result/Cleaning\ Info.pdf

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          folder: result
          clean-exclude: |
            index.html
